[client]
port = 3306
socket = /tmp/mysql.sock
default-character-set=utf8
 
[mysqld] 
#可以免密码登录
skip-grant-tables 
#服务端口号 默认3306
port = {{ PORT }}
default_storage_engine=InnoDB
skip-name-resolve
#mysql安装根目录
basedir = /usr/local/mysql
#mysql数据文件所在位置,
datadir =/usr/local/mysql/data
#临时目录 比如load data infile会用到
tmpdir  = /tmp
#设置socke文件所在目录
socket  = /tmp/mysql.sock
#数据库默认字符集,主流字符集支持一些特殊表情符号（特殊表情符占用4个字节）
character-set-server = utf8mb4
#最大连接数
max_connections = {{ MAX_CONNECTIONS }}
